<!-- npm install ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chatroom</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/chat.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <div class="container p-4 detail">
      <div class="row">
        <div class="col-3">
          <ul class="list-group chat-list">
            <% for (let i = 0; i < data.length; i++){ %>
            <li class="list-group-item" data-id="<%= data[i]._id %>">
              <h6><%= data[i].title %></h6>
              <h6 class="text-small"><%= data[i].member[0] %></h6>
            </li>
            <% } %>
          </ul>
        </div>

        <div class="col-9 p-0">
          <div class="chat-room">
            <ul class="list-group chat-content"></ul>
            <div class="input-group">
              <input class="form-control" id="chat-input" />
              <button class="btn btn-secondary" id="send">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      var clickedRoomId;
      var eventSource;
      $(".list-group-item").click(function () {
        // if chatroom is clicked
        clickedRoomId = this.dataset.id;
        $(".chat-content").html(" ");

        if (eventSource != undefined) {
          eventSource.close();
        }
        eventSource = new EventSource("/message/" + clickedRoomId); // enters this channel
        eventSource.addEventListener("test", function (e) {
          console.log(JSON.parse(e.data)); // print data from server
          var msgFromDb = JSON.parse(e.data);
          msgFromDb.forEach(function (val) {
            $(".chat-content").append(
              '<li><span class="chat-box">' + val.content + "</span></li>"
            );
          });
        });
      });

      $("#send").click(function () {
        var chatting = $("#chat-input").val();
        var sendingData = {
          parent: clickedRoomId,
          content: chatting,
        };
        $.post("/message", sendingData).then(() => {
          console.log("send success");
        });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
