<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('nav.html') %>

    <!-- BODY INPUT TITLE & DATES -->
    <div class="mb-3">
      <!-- in order to use method ↓ "PUT" : npm install method-override -->
      <form action="/edit?_method=PUT" method="POST">
        <label for="formGroupExampleInput" class="form-label">Todo</label>
        <input
          type="text"
          value="<%= post._id %>"
          name="id"
          style="display: none"
        />
        <input
          value="<%= post.title %>>"
          type="text"
          class="form-control"
          required
          name="title"
        />
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Date</label>
          <input
            value="<%= post.date %>>"
            type="text"
            class="form-control"
            required
            name="date"
          />
        </div>
        <button type="submit" class="btn btn-danger">UPDATE</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
