<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/login.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('nav.html') %>

    <!-- BODY INPUT TITLE & DATES -->
    <div class="mb-3">
      <form action="/login" method="POST" class="width50vh">
        <label for="formGroupExampleInput" class="form-label">Login ID</label>
        <input type="text" class="form-control" required name="id" />
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >Password</label
          >
          <input type="password" class="form-control" required name="pw" />
        </div>
        <button type="submit" class="btn btn-danger">Login</button>
      </form>

      <a href="/signup"
        ><button type="submit" class="btn btn-danger">Signup</button></a
      >
      <button type="submit" id="logout" class="btn btn-danger">Logout</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $("#logout").click(function () {
        $.post("/logout");
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
