<!-- npm install ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <h4 class="ml-2 my-3 text-center">Todo List from Server</h4>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input" />
      <button id="searchButton" class="input-group-append btn btn-danger">
        Search
      </button>
    </div>

    <h3 class="text-center">Results Found</h3>
    <div class="'container">
      <ul class="list-group">
        <% for (let i=0; i < searched.length; i++){ %>
        <li class="list-group-item">
          <p>ID : <%= searched[i]._id %></p>
          <h4>Todo title: <%= searched[i].title %></h4>
          <p>Date: <%= searched[i].date %></p>
        </li>
        <% } %>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Query String : pass value to sever through URL  -->
    <script>
      $("#searchButton").click(function () {
        var inputSearch = $("#search-input").val();
        // replacing url = same as get request
        window.location.replace("/search?value=" + inputSearch);
      });
    </script>

    <!-- JQuery import -->

    <script>
      $(".delete").click(function (e) {
        let idNumber = e.target.dataset.id; //very important
        let clickedButton = $(this);

        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: idNumber },
        })
          .done(function (result) {
            console.log("successfuly deleted");
            clickedButton.parent("li").fadeOut();
          })
          .fail((xhr, textStatus, errorThrown) => {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
