<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Livechat</title>
    <link rel="stylesheet" href="/public/socket.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('nav.html') %>

    <div>
      <h2 class="chattingPage" style="color: rgba(71, 68, 68, 0.829)">
        Live Chat
      </h2>

      <h5 class="chattingPage" style="color: rgba(255, 0, 0, 0.801)">
        Your message will be deleted once you leave this page
      </h5>
    </div>

    <!-- <form id="formSubmit"> -->
    <div id="chattingWindow" class="chattingPage">
      <div id="content" class="content"></div>
    </div>

    <form>
      <div class="input-group" id="chattingPage">
        <input
          type="text"
          class="form-control"
          placeholder="Type your message"
          id="input1"
        />
        <div class="input-group-append">
          <button class="input-group-text" id="send" class="sendButton">
            Send
          </button>
        </div>
      </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- socket.io cdn setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
    <!-- end socket.io cdn setting -->

    <!-- socket.io open -->
    <script>
      let userName = "<%= JSON.stringify(userIdData) %>";
      userName = JSON.parse(userName.replaceAll("&#34;", '"'));

      var socket = io();

      $("#send").click(function (e) {
        let inputValue = $("#input1").val();
        dataIdandText = {
          userName: userName,
          inputValue: inputValue,
        };

        socket.emit("user-send", dataIdandText);
        e.preventDefault();
        $("#input1").val(" ");
        // var chatList = document.getElementById("content");
        // chatList.scrollTop = chatList.scrollHeight;
        // scrollToEnd();
        $("#content")
          .stop()
          .animate({
            scrollTop: $("#content")[0].scrollHeight,
          });
      });

      socket.on("broadcast", function (data) {
        console.log("broadcast data", data);
        $("#content").append(
          // "<div> <%= userIdData %> : " +
          "<div>" + data.userName + " : " + data.inputValue + "</div>"
        );
      });
    </script>
    <!-- end socket.io open -->
  </body>
</html>
