
.linkRemoval{
    text-decoration: none;
    color: black;
}

.linkRemoval:hover{
    color: darkgray;
}


body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.input-group-append{
    margin: 0 0 0 0.5rem ;
}

.detail-button{
    margin-top: 1vh;
}

.listContent{
    margin: 0;
}

.delete {
    margin-top: 0.5rem;
}

.chat{
    margin-top: 0.5rem;
}

.list-group-item{
    border-radius: 5px;
    border: 5px black solid;
    font: red;
}

.width85vh{
    width: 85vw;
    margin: auto;
}